%h1 サインイン

:ruby
  form = form_for :session, '/session', method: :post do
    label :email
    email_field :email
    error_field :email
    br
    label :password
    password_field :password
    error_field :password
    br
    submit 'Sign in'
  end

= form
