%h1 サインアップ

:ruby
  form = form_for :user, '/users' do
    label :email
    email_field :email
    br
    label :password
    password_field :password
    br
    label :password_confirmation
    password_field :password_confirmation
    br
    submit 'Sign Up'
  end

= form
