!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Web
    = favicon
  %body
    = yield
    = webpack_asset_path('main')
    -# = javascript webpack_asset_path('main')
    %script{src: webpack_asset_path('main'), type: 'text/javascript'}
