!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %script{src: webpack_asset_path('main'), type: 'text/javascript'}
    %title Web
    = favicon
  %body
    = yield
