!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %script{src: webpack_asset_path('main'), type: 'text/javascript'}
    %link{href: 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons', rel: "stylesheet", type: "text/css"}
    %link{href: "https://unpkg.com/vuetify/dist/vuetify.min.css", rel: "stylesheet", type:"text/css"}
    %title Web
    = favicon
  %body
    = yield
