!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="initial-scale=1, width=device-width")
    %link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css")
    %script{src: webpack_asset_path('main'), type: 'text/javascript'}
    %title Web
    = favicon
  %body
    %i.material-icons face
    = yield
